<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <!--    <h2>Gallery of <span th:text="${user.firstName} + ' ' + ${user.lastName}"></span></h2>-->
    <div sec:authorize="isAuthenticated()">
        <form action="#" th:action="@{/profile/{id}/gallery/upload(id=${user.id})}" method="post"
              enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Upload Image</label>
                <input type="file" id="file" name="file" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h3>Uploaded Images</h3>
            <div class="row">
                <div class="col-md-4" th:each="image : ${images}">
                    <div class="card mb-4 shadow-sm">
                        <img th:src="@{${image.filePath}}" class="card-img-top" alt="Image">
                        <div class="card-body">
                            <p class="card-text" th:text="${image.fileName}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
